@media (max-width: 834px) {
    .photography_article {
        flex-wrap: wrap;
        display: none;
    }

    .photography_duo {
        display: flex;
        flex-direction: row;
        row-gap: 20px;
        margin-top: 20px;
    }

    .photography_img_main {
        width: 100%;
        height: 70%;
    }
    .photography_text_card {
        position: absolute;
        left: 51%;
        top: 37%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .photography_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section_3 {
        height: 648px;
    }



}