@media (max-width: 834px) {
    .section_3 {
        height: 648px;
    }

    .photography_img_1 {
        position: absolute;
        left: 9%;
        top: 63.5%
    }
    
    .photography_img_2 {
        position: absolute;
        left: 54%;
        top: 63.5%
    }
    .photography_text_card {
        position: absolute;
        left: 40%;
        top: 35%;
        transform: translate(-50%, -50%);
    }
    .photography_img_main {
        width: 100%;
    }

    .photography_p {
        color: #FFF;
        font-family: 'Kanit', sans-serif;
        line-height: 20px;
        width: 130%;
    }




}